body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));  /* ลดขนาดขั้นต่ำของคอลัมน์ */
  gap: 15px;
}

.item { 
  width: 100%;
  max-width: 400px;
  max-height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 100%;
  height: auto;  
  max-height: 450px; 
  object-fit: cover;
  display: block;
}
.item .info {
  padding: 8px;
  text-align: center;
  width: 100%;      /* ให้ยืดตามกล่อง item */
}
.item .info h3 {
  margin: 0;
  font-size: 16px;
}

.selected {
  border: 2px solid #4CAF50;
  box-shadow: 0 0 10px #4CAF50;
}
h3 {
  color: #ffffff;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

/* เมื่อเลื่อนถึงจุดแล้วค่อยๆ แสดง */
.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
.search-box {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.search-icon {
  margin-right: 8px;
  font-size: 1rem;
  color: #555;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 200px;
}
.search-container {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchInput {
  width: 300px;
  max-width: 90%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#searchInput:focus {
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
